<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <pluginGroups>
  </pluginGroups>
  <proxies>
  </proxies>
  <servers>
    <server>
      <id>my-repo</id>
      <username>my-jenkins</username>
      <password>my_jenkins@12345</password>
    </server>
    <server>
      <id>my-snapshots</id>
      <username>my-jenkins</username>
      <password>my_jenkins@12345</password>
    </server>
    <server>
      <id>my-releases</id>
      <username>my-jenkins</username>
      <password>my_jenkins@12345</password>
    </server>
    <server>
      <id>my-group</id>
      <username>my-jenkins</username>
      <password>my_jenkins@12345</password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>central</id>
      <name>central</name>
      <url>https://repo.garm.co.ir/repository/my-maven-group/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
    <mirror>
      <id>maven-group</id>
      <name>maven-group</name>
      <url>http://nexus.garm.local/repository/maven-group/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
    <mirror>
      <id>maven-group</id>
      <name>maven-group</name>
      <url>http://nexus.garm.local/repository/maven-group/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
    <mirror>
      <id>nexus-releases</id>
      <name>nexus-releases</name>
      <url>http://nexus.garm.local/repository/maven-releases/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
    <mirror>
      <id>my-group</id>
      <name>my-group</name>
      <url>https://repo.garm.co.ir/repository/my-maven-group/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
    <mirror>
      <id>my-snapshots</id>
      <name>my-snapshots</name>
      <url>https://repo.garm.co.ir/repository/my-maven-snapshots/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
    <mirror>
      <id>my-releases</id>
      <name>my-releases</name>
      <url>https://repo.garm.co.ir/repository/my-maven-releases/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>nexus</id>
      <repositories>
        <repository>
          <id>Backbase Artifact Repository</id>
          <url>https://repo.backbase.com/repo/</url>
        </repository>
      </repositories>
    </profile>
    <profile>
      <id>garm-nexus</id>
      <repositories>
        <repository>
          <id>garm-nexus</id>
          <url>http://nexus.garm.local/repository/maven-group/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>garm-nexus</id>
          <url>http://nexus.garm-local.com/nexus/content/repositories</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>my-repo</id>
      <repositories>
        <repository>
          <id>my-repo</id>
          <url>https://repo.garm.co.ir/repository/my-maven-group/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>my-repo</id>
          <url>https://repo.garm.co.ir/repository/my-maven-group/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>my-repo</activeProfile>
  </activeProfiles>
</settings>
